* { box-sizing: border-box; padding: 0; margin: 0; }

body {
  background-color: #222;
}

.App {
  min-height: 100vh;
  height: 100%;
}

nav {
  padding: 35px;
  background-color: #34a5da;
}

.card {
  width: 75%;
  height: 50%;
  position: relative;
  margin: 100px auto 0 auto;
  background-color: #ccc;
  padding: 40px;
}

.card .count {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 2rem;
  font-weight: bold;
}

.card h2 {
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-color: #34a5da;
  margin: 0 0 10px 0;
}

.card p, .card li {
  font-size: 1.5rem;
}

.card ol {
  margin-left: 60px;
}

.directory {
  width: 75%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}

.directory button {
  background: none;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.directory button:focus {
  outline: none;
}

.manipBtns button{
  background-color: #34a5da;
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 20px;
}

.card .exitAdd {
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  right: 40px;
  top: 30px;
}

.directory.addDir {
  justify-content: center;
}

.directory.addDir button{
  background-color: #34a5da;
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 20px;
}